.fs-badge{
    background-size: 35px;
    width: 35px;
    height: 35px;
    z-index: 999999;
    position: fixed;
    left: 60%;
    top: 40px;
    opacity: 0.6;
    cursor: pointer;
    background-repeat: no-repeat;
}


.fs-badge:hover{
    opacity: 0.9;
    width: 40px;
    height: 40px;
    background-size: 40px;
}
.ruleContainer{
    margin-bottom: 36px; 
    border-bottom-style: ridge;
}
.modal-header {
    cursor: move;
}

.modal-body {
    position: relative;
    overflow-y: auto;
    min-height: 300px;
    max-height: none;
    padding: 15px;
}

.container #rulesContainer{
    
    max-width: 90%;

}